html, body {
  height: 100%;
}

body {
  background:
  url("../resources/cover.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
}

:root {
--primary: #763435;
}

.navbar-custom .navbar-nav #campuses-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 215, 0, 1);
  transition: background-color 0.3s ease;
}

.navbar-custom .navbar-nav #campuses-link {
  color: #ffd700;
}

#campusSelect {
padding: 4rem 0;
}
.tranding-slider {
height: 52rem;
padding: 2rem 0;
position: relative;
}

@media (max-width:500px) {
.tranding-slider {
height: 45rem !important;
width: 20rem !important;
overflow-y: auto;
}
}

.tranding-slide {
width: 37rem;
height: 42rem;
position: relative;
}

@media (max-width:500px) {
.tranding-slide {
width: 20rem !important;
height: 39rem !important;
}
}

.tranding-slide a {
  text-decoration: none;
}

#campusSelect h1 {
color: white;
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
font-family: 'Roboto';
}

.swiper-button-next, .swiper-button-prev {
  padding: 5rem 20px;
  background-color: #76343559;
  color: #ffffff4d;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #76343588;
  color: #ffffff81;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
background: var(--primary);
} 

.footer {
  background-color: #763435;
  color: white;
  padding: 10px;
  text-align: center;
}

.navbar-custom .navbar-nav #campus-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 215, 0, 1);
  transition: background-color 0.3s ease;
}

.navbar-custom .navbar-nav #campus-link {
  color: #ffd700;
}

.centered {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 29px;
  font-weight: bolder;
  color: #763435;
}

.bottom-centered{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: bolder;
  text-align: justify;
}

.address{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bolder;
  text-align: justify;
}