carousel.css
html, body {
  height: 100%;
}

body {
  background:
  url("../resources/cover.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
}

:root {
--primary: #763435;
}

.navbar-custom .navbar-nav #campuses-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 215, 0, 1);
  transition: background-color 0.3s ease;
}

.navbar-custom .navbar-nav #campuses-link {
  color: #ffd700;
}

#tranding {
padding: 4rem 0;
}

@media (max-width:1440px) {
#tranding {
padding: 7rem 0;
}
}

#tranding .tranding-slider {
height: 52rem;
padding: 2rem 0;
position: relative;
}

@media (max-width:500px) {
#tranding .tranding-slider {
height: 45rem;
}
}

.tranding-slide {
width: 37rem;
height: 42rem;
position: relative;
}

@media (max-width:500px) {
.tranding-slide {
width: 28rem !important;
height: 36rem !important;
}
.tranding-slide .tranding-slide-img img {
width: 28rem !important;
height: 36rem !important;
}
}

.tranding-slide .tranding-slide-img img  {
width: 37rem;
height: 42rem;
border-radius: 2rem;
object-fit: cover;
}


.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
display: none;
}

.tranding-slider-control {
position: relative;
bottom: 2rem;
display: flex;
align-items: center;
justify-content: center;
}

.tranding-slider-control .swiper-button-next {
left: 58% !important;
transform: translateX(-58%) !important;
}

@media (max-width:990px) {
.tranding-slider-control .swiper-button-next {
left: 70% !important;
transform: translateX(-70%) !important;
}
}

@media (max-width:450px) {
.tranding-slider-control .swiper-button-next {
left: 80% !important;
transform: translateX(-80%) !important;
}
}

@media (max-width:990px) {
.tranding-slider-control .swiper-button-prev {
left: 30% !important;
transform: translateX(-30%) !important;
}
}

@media (max-width:450px) {
.tranding-slider-control .swiper-button-prev {
left: 20% !important;
transform: translateX(-20%) !important;
}
}

#campusSelect {
margin: auto 0;
}

#campusSelect h1 {
color: white;
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 25px;
margin-bottom: 25px;
font-family: 'Roboto';
}

.tranding-slider-control .slider-arrow {
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
left: 42%;
transform: translateX(-42%);
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow ion-icon {
font-size: 2rem;
color: #763435;
}

.tranding-slider-control .slider-arrow::after {
content: '';
}

.tranding-slider-control .swiper-pagination {
position: relative;
width: 15rem;
bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
background: var(--primary);
}

.footer {
  position:absolute;
  bottom: 0;
  background-color: #763435;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  flex-shrink: 0;
  
}

.navbar-custom .navbar-nav #campus-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 215, 0, 1);
  transition: background-color 0.3s ease;
}

.navbar-custom .navbar-nav #campus-link {
  color: #ffd700;
}

.centered {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 29px;
  font-weight: bolder;
  color: #763435;
}

.bottom-centered{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: bolder;
  text-align: justify;
}

.address{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: bolder;
  text-align: justify;
}