.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #763435;
}

#logo {
  width: 130px;
  height: auto;
  margin: 0 auto;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.main-items:hover {
  color: #fff;
  text-decoration: none;
  background-color: #6E2E20;
}

  .nav-link:hover, #navAnnouncement {
      color: #fff;
      text-decoration: none;
  }

.nav-link:visited {
  color: #fff;
  text-decoration: none;
}

#userDropdown {
  color: #fff;
  text-decoration: none;
}

.icons {
  margin-right: 1rem;
}

.dropdown ul li a {
  color: #763435;
  text-decoration: none;
}

.dropdown ul li a:hover {
  color: #763435;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .sidebar {
    width: 230px;
    height: 100vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  
}