#settingPage {
    position: absolute;
    left: 290px;
    width: calc(100% - 290px);
}

@media (max-width: 1200px) {
    #settingPage {
        position: absolute;
        left: 230px;
        width: calc(100% - 230px);
    }
}

.colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}