/* styles.css */

/* Common Styles */
body {
    font-family: 'Roboto';
}

/* Navigation Bar */
.navbar-custom {
    background-color: #763435;
}

.offcanvas-header h5 {
    color: black;
    width: 550px;
    height: 30px;
    margin: 0;
}

#announcementTab, #campuses {
    box-shadow: inset 0 0 0 0 #763435;
    color: #763435;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    margin-bottom: 8px;
}

#announcementTab:hover, #campuses:hover {
    color: #d09b00;
    box-shadow: inset 150px 0 0 0 #763435;
}

.dropdown-menu {
    background-color: #763435;
}

.dropdown-item {
    color: white;
}

.btn-close {
    color: white;
}

/* Iframe Styles */
iframe {
    width: 100%;
    height: 98%;
    border: none;
}

/* Offcanvas Panel Styles */
#offcanvasNavbar, #announcementPanel {
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.5s;
}

#offcanvasNavbarLabel {
    color: white;
    font-size: larger;
    margin-left: 5px;
    padding-top: 3px;
}
